.counter {
	display: flex;
	align-items: center;
	button {
		border-radius: 4px;
		background: grey;
		border: 1px solid #000000;
		transition: all 0.3s ease;
		color: #FFFFFF;
		padding: 10px 20px;
		&:hover {
			background: transparent;
			color: #000000;
		}
	}
	span {
		flex: 0 0 50px;
		text-align: center;
	}
}