:root {
	--offset: 18px;
	--mobileSize: 375px;
	--navbar-height: 64px;
	--primary: #FFBD9E;
	--transition: all 0.2s ease-out;
	--fontFamily: 'Montserrat',
		-apple-system,
		blinkmacsystemfont,
		"Segoe UI",
		roboto,
		oxygen,
		ubuntu,
		cantarell,
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--fontFamily);
	text-rendering: optimizelegibility;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: var(--mobileSize);
	color:#000000;
	background:#f0eded;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 var(--offset);
	box-sizing: content-box;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:focus,
	&:active {
		outline: none;
	}

	&:link,
	&:visited {
		text-decoration: none;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

::selection {
	background-color: var(--primary);
	color: white;
}

:focus,
:active {
	outline: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

@media (prefers-color-scheme: white) {
	html {
		color-scheme: white;
	}

	body {
		color: black;
		background: white;
	}
}